.fl-lftimg-rgtdes {
    display: flex;
    flex-wrap: wrap;
    padding-top: 65px;
    padding-bottom: 60px;
}
.fl-lftimg-rgtdes-lft, 
.fl-lftimg-rgtdes-rgt {
    width: 50%;
}
.fl-lftimg-rgtdes-lft {
    padding-right: 70px;
}
.fl-lftimg-logo-cntlr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fl-lftimg-top-logo {
    padding-bottom: 50px;
}
.fl-rgtdes-title {
    margin-bottom: 40px;
}
.fl-rgtdes-inner p{
    margin-bottom: 20px;
}
.fl-rgtdes-inner a {
    display: inline-block;
    margin-bottom: 60px;
}
.fl-fancy-des p {
    font-size: 15px;
    font-family: 'SanchezSlab-light';
}
.fl-fancy-module {
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: 242px;
    position: relative;
}
.fl-fancy-img {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.fl-video-play-cntlr {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2;
}
.fl-fancy-module:hover .fl-fancy-img {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.fl-fancy-title {
    padding-top: 10px;
    font-size: 15px;
    margin-bottom: 0;
    font-family: 'SanchezSlab-Bold';
}
.fl-lftimg-rgtdes-row:nth-child(2n+1) .fl-lftimg-rgtdes .fl-lftimg-rgtdes-lft{
    order: 2;
    padding-right: 0;
    padding-left: 70px;
}
.fl-lftimg-rgtdes-row:nth-child(2n+2){
    background: #f2f2f2;
}
.fl-lftimg-rgtdes-row:last-child .fl-lftimg-rgtdes{
    padding-bottom: 40px;
}
.fl-fancy-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.fl-fancy-des-module-sec {
    height: 700px;
    position: relative;
    overflow: hidden;
}
.fl-fancy-des{
    text-align: center;
    padding-top: 90px;
}
.fl-fancy-des-title{
    color: #fff;
    margin-bottom: 0!important;
    font-family: 'NHaasGroteskDSPro-75Bd'!important;
}
.fl-fancy-des-sub-title{
    color: #fff;
    margin-bottom: 30px!important;
    font-family: 'SanchezSlab-Light'!important;
}
.fl-fancy-des-cntlr .fl-video-play-cntlr{
    width: 195px;
    height: 195px;
}
.fl-fancy-title{
    text-align: center;
    color: #000;
    font-size: 24px;
    font-family: 'SanchezSlab-Bold';
}
.fl-text-module p{
    font-size: 25px;
}
.fl-text-sec{
    padding-top: 65px;
    padding-bottom: 50px;
}
.fl-sec-entry-hdr p{
    font-size: 24px;
    font-family: 'SanchezSlab-Light';
}
.fl-grid-item {
    background: #000;
    height: 226px;
    width: 226px;
    border-radius: 100%;
}

.fl-grids-cntlr ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -70px;
}

.fl-grids-cntlr ul li {
    width: 33%;
    padding: 0 70px;
}
.fl-grid-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px!important;
    font-family: 'NHaasGroteskDSPro-45Lt'!important;
}
.fl-grid-item-img-cntlr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 25px;
}
.fl-grid-des {
    text-align: center;
}
.fl-grid-item-img-cntlr i{
    display: flex;
    height: 79px;
    align-items: center;
    justify-content: center;
}
.fl-grid-item-img-cntlr i img {
    max-height: 79px;
    width: auto;
}
.fl-grid-sec {
    padding-top: 40px;
    padding-bottom: 80px;
}
.fl-contact-info-sec{
    background: #00b6b3;
}
.contact-info-cntlr{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.contact-info-lft{
    width: 52%;
    order: 2;
}
.contact-info-rgt{
    width: 48%;
    order: 1;
}
.contact-form-info-title,
.contact-form-info-subtitle {
    font-size: 24px!important;
    font-family: 'SanchezSlab-Bold'!important;
    color: #fff!important;
}
.contact-form-info-title{
    margin-bottom: 25px!important;
}
.contact-form-info-subtitle{
    margin-bottom: 0!important;
}
.cnt-tel span,
.cnt-tel a,
.cnt-mail span,
.cnt-mail a{
    font-size: 24px!important;
    font-family: 'SanchezSlab-Light'!important;
}
.cnt-tel span,
.cnt-tel a,
.cnt-mail span,
.cnt-mail a{
    color: #fff!important;
    text-decoration: none!important;
}